html {
    scroll-behavior: smooth;
  }

/*--main-slider--*/
.w3l-main-slider li {
    list-style: none;
  }
  
  .w3l-main-slider .banner-info-bg {
    max-width: 750px;
    margin-top: 100px;
    margin: 0 auto;
  }
  
  .w3l-main-slider .banner-info-bg h5 {
    font-size: 80px;
    line-height: 86px;
    color: #fff;
    margin: 16px 0 30px 0;
  } 
  
  .w3l-main-slider .banner-info-bg h4.sub-font {
    font-size: 20px;
    line-height: 40px;
    color: #ffac41;
    text-transform: capitalize;
  }
  
  .w3l-main-slider .banner-slider {
    position: relative;
    z-index: 1;
  }
  
  .w3l-main-slider .slider-info a img {
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
  }
  
  .w3l-main-slider .banner-view {
    background: url(../images/banner1.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
  }
  
  .w3l-main-slider .banner-top1 {
    background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
  }
  
  .w3l-main-slider .banner-top2 {
    background: url(../images/banner3.jpg) no-repeat center;
    background-size: cover;
  }
  
  .w3l-main-slider .banner-top3 {
    background: url(../images/banner4.jpg) no-repeat center;
    background-size: cover;
  }
  
  .w3l-main-slider .banner-info {
    background: url(../images/dots.png);
    height: 100vh;
    display: grid;
    align-items: center;
  }
  
  .w3l-main-slider .banhny-timing {
    transform: matrix3d(0, 1, 0, 0, -1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    visibility: visible;
    text-align: left;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 16px;
    border-style: none;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
    position: absolute;
    right: -9%;
    bottom: 50%;
    z-index: 11;
  }
  
  .w3l-main-slider .banhny-left-botm {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 19px;
    margin: 0px;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 1;
  
  }
  
  .w3l-main-slider .scrollhny-btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    z-index: 1;
  }
  
  .scroll-arrow {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    animation: arrow-wave 1s infinite;
    animation-direction: alternate;
  }
  
  .scroll-arrow:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .scroll-arrow:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .scroll-arrow:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  @keyframes arrow-wave {
    0% {
      opacity: 0;
    }
  
    50% {
      opacity: .5;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @media (max-width:1080px) {
    .w3l-main-slider .banner-info-bg h5 {
      font-size: 70px;
      line-height: 78px;
    }
  }
  
  @media (max-width: 992px) {
  
    .w3l-main-slider .banner-info-bg h5 {
      font-size: 66px;
      line-height: 72px;
    }
  
    .w3l-main-slider .owl-nav {
      display: none;
    }
  
    .w3l-main-slider .banhny-timing {
      display: none;
    }
  
    .search-right {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .w3l-main-slider .banner-info-bg h5 {
      font-size: 56px;
      line-height: 66px;
    }
  
    .w3l-main-slider .banhny-left-botm {
      left: 0px;
      bottom: 60px;
      right: 0px;
      margin: 0 auto 20px;
      text-align: center;
    }
  
    .w3l-main-slider .banhny-left-botm {
      letter-spacing: 0px;
      font-size: 17px;
    }
  
    .w3l-main-slider .banner-info-bg h4.sub-font {
      font-size: 16px;
      line-height: 24px;
    }
  
    .w3l-main-slider .scrollhny-btn {
      position: absolute;
      left: 50%;
      bottom: 20%;
      z-index: 1;
    }
  }
  
  @media (max-width:600px) {
    .w3l-main-slider .banner-info-bg h5 {
      font-size: 40px;
      line-height: 48px;
    }
  
    .w3l-main-slider .banhny-left-botm {
      left: 0px;
      bottom: 80px;
      right: 0px;
      margin: 0 auto;
      text-align: center;
    }
  
  }
  
  @media (max-width: 415px) {
    .w3l-main-slider .banner-info-bg h5 {
      font-size: 36px;
      line-height: 46px;
    }
  
  }
  
  @media (max-width: 384px) {
    .w3l-main-slider .banner-info-bg h5 {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  /**
   * Owl Carousel v2.3.4
   * Copyright 2013-2018 David Deutsch
   * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
   */
  .owl-carousel,
  .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
  
  .owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
  }
  
  .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
  }
  
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .owl-carousel .owl-item,
  .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
  .owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
  }
  
  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: block;
  }
  
  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block;
  }
  
  .owl-carousel .owl-dot,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel button.owl-dot {
    border: none;
  }
  
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block;
  }
  
  .owl-carousel.owl-hidden {
    opacity: 0;
  }
  
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
  }
  
  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .owl-carousel.owl-rtl {
    direction: rtl;
  }
  
  .owl-carousel.owl-rtl .owl-item {
    float: right;
  }
  
  .owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .owl-carousel .owl-animated-in {
    z-index: 0;
  }
  
  .owl-carousel .owl-animated-out {
    z-index: 1;
  }
  
  .owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  .owl-height {
    transition: height .5s ease-in-out;
  }
  
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease;
  }
  
  .owl-carousel .owl-item .owl-lazy:not([src]),
  .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0;
  }
  
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
  }
  
  .owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
  }
  
  .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform .1s ease;
  }
  
  .owl-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
  }
  
  .owl-carousel .owl-video-playing .owl-video-play-icon,
  .owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
  }
  
  .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity .4s ease;
  }
  
  .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  
  @media (max-width:600px) {
  
    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
      display: none;
    }
  
    .owl-theme .owl-dots .owl-dot span {
      width: 14px;
      height: 14px;
    }
  }
  
  /**
    * Owl Carousel v2.3.4
    * Copyright 2013-2018 David Deutsch
    * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
    */
  .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: none;
  }
  
  .owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }
  
  .owl-dots {
    margin-top: 0px;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: none;
  }
  
  .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 35px;
    margin: 0px;
    width: 50px;
    background: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
  }
  
  .owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    opacity: 1;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: 0.3s ease-in-out;
    color: #ff0000;
  }
  
  .owl-theme .owl-nav [class*=owl-]:focus,
  .owl-theme:focus,
  .owl-dots:focus,
  .owl-dot:focus {
    outline: none;
    box-shadow: none;
  }
  
  .owl-theme .owl-nav .disabled {
    opacity: .5;
    cursor: default;
  }
  
  .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
  }
  
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 2px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
    position: relative;
    border: 8px solid #fff;
  }
  
  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 50%;
  }
  
  button.owl-prev {
    left: 10px;
  }
  
  button.owl-next {
    right: 10px;
  }
  
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
    border: 8px solid #ff1e56;
  }
  
  /*--/testimonials--*/
  .owl-testimonial.owl-carousel.owl-theme .owl-dots {
    margin-top: 0px;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 30px;
    background: none;
  }
  
  .owl-testimonial.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 5px 2px;
    background: #000000;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
    position: relative;
    border: 6px solid #000000;
    opacity: 0.3;
  }
  
  .owl-testimonial.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
  .owl-testimonial.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff1e56;
    border: 6px solid #ff1e56;
    opacity: 0.9;
  }
/* My Custom CSS */
.large-text {
  font-size: 1.5rem;
}

.add-banner {
    height: 30rem;
    width: 100%;
}
  


/* Cloud investment */

.w3l-banner {
  background: url(../images/banner3.jpg?) no-repeat center;
  -ms-background-size: cover;
  background-size: cover;
  z-index: 0;
  position: relative;
  min-height: 740px;
}

.w3l-banner:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 740px;
}

.w3l-banner h3 {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
}

.separatorhny {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 4px solid var(--primary-color);
  margin: 6px 0 24px 0;
  width: 63px;
}

.w3l-banner h4 {
  color: #fff;
  font-size: 30px;
  line-height: 60px;
  font-weight: 700;
}

.w3l-banner p {
  color: #eee;
  letter-spacing: 1px;
  font-size: 18px;

}

.w3l-banner span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}

.w3l-banner span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: var(--primary-color);
  border: transparent;
  color: #fff;
}

@media (max-width: 1080px) {
  .w3l-banner h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 991px) {
  .banner-form-w3 {
    margin-left: 0px;
  }
  .w3l-banner,.w3l-banner:before  {
    min-height: 740px;
  }

}
@media (max-width:667px) {
  .w3l-banner,.w3l-banner:before  {
    min-height:640px;
  }

}
@media (max-width:667px) {
  .w3l-banner,.w3l-banner:before  {
    min-height:600px;
  }
}
@media (max-width: 490px) {
  .w3l-banner h3 {
      font-size: 36px;
      line-height: 46px;
  }
  .w3l-banner span.video-play-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
}

@media (max-width: 384px) {
  .w3l-banner h3 {
      font-size: 32px;
      line-height: 42px;
  }
}



/*--/--*/
.w3l-bottom-grids-6 {
  background: var(--bg-lightgrey);
  position: relative;
  z-index: 1;
}

.w3l-bottom-grids-6 .area-box {
  padding: 40px 30px;
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius-full);
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  background-color: var(--bg-color);
}

.w3l-bottom-grids-6 .area-box:hover {
  background: var(--primary-dark);
  transition: .3s;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.w3l-bottom-grids-6 .grids-feature span.fa {
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  line-height: 65px;
  color: #fff;
  text-align: center;
  margin: 0px 0 30px 0;
}

.w3l-bottom-grids-6 h4 a.title-head {
  font-size: 22px;
  font-weight: 700;
  display: block;
  color: var(--heading-color);
}

.w3l-bottom-grids-6 h4 a.title-head:hover {
  color: var(--primary-color);
}

.w3l-bottom-grids-6 .area-box:hover h4 a.title-head {
  color: #fff;
}

.w3l-bottom-grids-6 .area-box:hover p {
  color: #fff;
}

.w3l-bottom-grids-6 .area-box a.more {
  font-size: 18px;
  font-weight: 700;
  color: var(--heading-color);
}

.w3l-bottom-grids-6 .area-box a.more:hover {
  color: var(--primary-color);
}

.w3l-bottom-grids-6 .area-box:hover a.more {
  color: #fff;
}

.w3l-bottom-grids-6 .classhny-sub {
  display: none;
  position: absolute;
  top: 146px;
  left: 40px;
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: var(--border-radius-full);
}

.w3l-bottom-grids-6 .area-box:hover .classhny-sub {
  display: block;
  transition: 0.5s ease-out;
}

.w3l-bottom-grids-6 .classhny-sub p {
  font-size: 17px;
}

@media (max-width: 991px) {
  .w3l-bottom-grids-6 {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .w3l-bottom-grids-6 h4 a.title-head {
    font-size: 22px;
  }
}


/* Styles for dialog window */
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}



/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  line-height: 40px;
  position: absolute;
  right: 0px;
  top: -40px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  background: transparent;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {

  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-cont-ser .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-cont-ser img.mfp-img {
    padding: 0;
  }

  .mfp-img-cont-ser .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-cont-ser .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-cont-ser .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-cont-ser .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-cont-ser .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-cont-ser .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    transform-origin: 0;
  }

  .mfp-arrow-right {
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

/* Styles for dialog window */
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
   * Fade-move animation for second dialog
   */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-out;
  transform: translateY(-20px) perspective(600px) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}


.w3l-index6 {
  background: linear-gradient(100deg, #2e5deb 10%, #5360fd 50%, #ff5b83 100%); }


.heading {
  max-width: 750px; }

.heading h3 {
  font-size: 36px;
  line-height: 42px;
  color: var(--title-color);
  font-weight: 600; }

.heading p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px; }


/*-- //w3l-services-block --*/
.w3l-open-block-services {
  background: #f2f8ff; }

.w3l-open-block-services h4.mission {
  color: #0D001A;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px; }

.w3l-open-block-services .open-description a {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ff5b83; }

.w3l-open-block-services .open-description p {
  color: #555;
  font-size: 15px;
  line-height: 26px;
  margin-top: 10px;
  margin-bottom: 20px; }

.w3l-open-block-services .icon-holder{
  display: inline-block;
  transition: all 0.3s ease;
  color: #ff5b83;
  font-size: 36px; }

.w3l-open-block-services .card {
  padding: 40px 20px;
  position: relative;
  background: #ffffff;
  border: none;
  border-bottom: 3px solid #ff5b83;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-radius: 4px; }

.w3l-open-block-services .card:hover {
  background: #ff5b83;
  border-bottom: 3px solid #ff5b83;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s; }



.w3l-open-block-services .card:hover .icon-holder {
  color: #fff; }

.w3l-open-block-services .card:hover h4.mission {
  color: #fff; }

.w3l-open-block-services .card:hover .open-description p {
  color: #fff;
  opacity: 0.9; }

.w3l-open-block-services .card:hover .open-description a {
  color: #fff; }


/* Donation */

/*--/specification-6--*/
.w3l-specification-6 {
  background: #fff;
  background: url(../images/slides.png) no-repeat top;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
}

.w3l-specification-6 .specification-6-mian {
  z-index: 1;
  display: grid;
  align-items: center;
}

.w3l-specification-6 .story-6-grids {
  align-items: center;
}

.w3l-specification-6 .story-info h5 a {
  color: #ffff;
  line-height: 25px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 16px;
}

.w3l-specification-6 .story-info {
  margin-bottom: 16px;
}

.w3l-specification-6 .story-info h5 a:hover {
  color: #ff7315;
}

.w3l-specification-6 .skill_info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

.w3l-specification-6 .stats_left p {
  font-size: 60px;
  font-weight: 700;
  color: #ffac41;
}

.w3l-specification-6 .stats_left h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 8px 0;
  display: inline-block;
}

.w3l-specification-6 p.counter-para,
.counter-sub-para {
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  opacity: 0.8;
}

@media (max-width:1080px) {
  .w3l-specification-6 .stats_left h4 {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  .w3l-specification-6 .story-gd {
    margin-bottom: 2em;
  }

  .w3l-specification-6 .stats_left h4 {
    font-size: 16px;
  }

  .w3l-specification-6 .skill_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
  }
}

@media (max-width:667px) {
  .w3l-specification-6 .skill_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
  }

  .w3l-specification-6 .stats_left h4 {
    font-size: 16px;
  }

  .w3l-specification-6 .stats_left {
    margin-bottom: 20px;
  }
}

@media (max-width:380px) {
  .w3l-specification-6 .skill_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
  }

  .w3l-specification-6 .stats_left h4 {
    font-size: 13px;
  }

  .w3l-specification-6 .stats_left p {
    font-size: 40px;
    line-height: 19px;
  }
}