@media only screen and (max-width: 1020px) {
  .news_breadcrumb .breadcrumb h2{
    font-weight: 900;
    font-size: 45px;
    line-height: 55px;
  }

  .news_breadcrumb .breadcrumb h6{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }

  .activity_section h3{
    font-size: 50px;
    line-height: 60px;
  }

  .activity_section .activity_item h3{
    font-size: 80px;
    line-height: 90px;
  }
}


@media only screen and (max-width: 1200px) {
  .news_header .news_top_left h3{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
  }

  .news_header .news_top_left span{
    font-size: 18px;
  }

  .news_header .news_top_left p{
    font-size: 22px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 1080px) {
  .news_header .news_top_left h3{
    font-size: 35px;
    line-height: 40px;
  }

  .news_header .news_top_left span{
    font-size: 15px;
  }

  .popular_news h4{
    font-size: 35px;
    line-height: 42px;
  }

  .popular_news .popular_item p{
    font-size: 18px;
    line-height: 22px;
  }

  .popular_news .popular_item span{
    font-size: 15px;
    line-height: 18px;
  }

  .activities_breadcrumb{
    height: 70vh;
  }
}


@media only screen and (max-width: 900px) {
  .popular_news .popular_item p{
    font-size: 16px;
    line-height: 20px;
  }

  .popular_news .popular_item span{
    font-size: 14px;
    line-height: 16px;
  }

  .activity_section h3{
    font-size: 40px;
    line-height: 45px;
  }

  .activity_section .activity_item h3{
    font-size: 70px;
    line-height: 75px;
  }

  .activities_breadcrumb{
    height: 100vh;
  }

  .activities_breadcrumb .breadcrumb_left{
    display: block;
    text-align: center;
    width: 100%;
  }

  .activities_breadcrumb .breadcrumb_left h2{
    margin-top: 50px;
  }

  .activities_breadcrumb .breadcrumb_right{
    display: block;
    text-align: center;
    width: 100%;
    padding-left: 30px;
  }
}


@media only screen and (max-width: 776px) {
  .news_header .news_top_left h3{
    margin-top: 10px;
    font-size: 28px;
    line-height: 35px;
  }

  .news_header .news_top_left span{
    font-size: 14px;
  }

  .news_header .news_top_left p{
    font-size: 18px;
    line-height: 25px;
  }

  .popular_news h4{
    font-size: 30px;
    line-height: 38px;
  }

  .popular_news .popular_item img{
    margin-left: 10px;
  }

  .popular_news .popular_item p{
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .popular_news .popular_item span{
    font-size: 13px;
    line-height: 15px;
  }

  .latest_news .ads{
    display: none;
  }

  .latest_news .ads_lands{
    margin-top: 10px;
    display: block;
  }

  .activity_section h3{
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }

  .activity_section .activity_item h3{
    font-size: 65px;
    line-height: 70px;
  }
}


@media only screen and (max-width: 600px) {
  .news_breadcrumb .breadcrumb h2{
    font-weight: 900;
    font-size: 38px;
    line-height: 42px;
  }

  .news_breadcrumb .breadcrumb h6{
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }

  .activity_section h3{
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .news_breadcrumb .breadcrumb h2{
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
  }

  .news_breadcrumb .breadcrumb h6{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
  }

  .popular_news h4{
    font-size: 28px;
    line-height: 32px;
  }

  .popular_news .popular_item p{
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .popular_news .popular_item span{
    font-size: 13px;
    line-height: 15px;
  }

  .activity_section h3{
    font-size: 30px;
    line-height: 40px;
  }

  .activity_section .activity_item h3{
    font-size: 40px;
    line-height: 50px;
  }

  .activities_breadcrumb .breadcrumb_left h2{
    margin-top: 30px;
    font-size: 25px;
    line-height: 35px;
  }
}